.container {
  display: flex;
  min-width: 350px;
  justify-content: center;
  margin: 0;
  padding-top: 50px;
  height: auto;
}

.sectionLeft {
  width: 500px;
}

.sectionRight {
  background-color: lightblue;
  width: 500px;
}